Repository akvorado/akvorado, pull requests merged in 2025-09, with the labels that each got.

#1942 console/filter: add autocomplete for the SrcPort and DstPort filters
  console/filter.go
  console/filter_test.go
Labels: kind::feature, service::console

#1970 build: switch to pnpm
  .github/actions/setup/action.yml
  .github/workflows/update-nix-hashes.yml
  .gitlab-ci.yml
  CONTRIBUTING.md
  Makefile
  console/data/docs/01-install.md
  console/data/docs/99-changelog.md
  console/frontend/package-lock.json
  console/frontend/package.json
  console/frontend/pnpm-lock.yaml
  console/frontend/pnpm-workspace.yaml
  flake.nix
  nix/npmDepsHash.txt
Labels: service::console

#1974 docker: upgrade some test images
  docker/versions.yml
Labels: dependencies, service::docker
